
#root {
   
   
}


#container {
    background-size: cover;
  display: grid;

width: 960px;

/*  min-height: 150px;
  min-width: 150px;
  max-height: 500px;
  max-width: 500px;
  grid-template-columns: repeat(7, 1fr); 
  grid-template-rows: repeat(7, 1fr);
     display: flex;
   flex-wrap: wrap;
 
 
 justify-content: center;
flex-shrink: 0;
  */

}

#container div {
    
    
}

.box {
    background-color: green;
    border-collapse: collapse;
    padding-top: 100%;
    ;
    
    
    
}



.active {
    background:orange;
    transition: all 0.5s ease
  }